/* navBar */
#mainNav{
  border: 2px solid black;
  z-index: 5000;
  background-color: #e0ebf3;
  height: 7rem;
}

/* header */
#header{
  border: 2px solid yellow;
  z-index: 5000;
  width: 100%;
  margin-top: 108px;
  height: 39rem;
  /* margin: 10rem; */
}
#headerdiv{
  display: flex;
  flex-direction: column;
}
#btn-groups{
  display: flex;
  flex-direction: row;
}

/* secction - about */
#about{
  border: 2px solid black;
  z-index: 5000;
  width: 100%;
  height: 45rem;
  padding: 7rem 7rem;
  /* align-items: center; */
  justify-content: center;
  /* margin: -3rem; */
}
#aboutdiv{
  margin: auto;
  justify-content: center;
  align-items: center;
  /* margin: -3rem; */
}
#aboutdiv h2{
  text-align: center;
}
#btn-div{
  width: 80%;
  display: grid;
  grid-template-columns: 13rem 13rem 13rem 13rem;
  grid-template-rows: 13rem 13rem;
}
.excards{
  margin: 1rem 1rem;
  padding: 4rem 4rem;
  height: 12rem;
  width: 12rem;
}

/* section - services */
#services{
  border: 2px solid red;
  z-index: 5000;
  width: 100%;
  height: 45rem;
}
#servicesdiv{
  margin: 10rem 10rem;
}

/* section - contact */
#contact{
  border: 2px solid red;
  z-index: 5000;
  width: 100%;
  height: 45rem;
}
#contactdiv{
  margin: 10rem 10rem;
}

/* section - library */
#library{
  border: 2px solid red;
  z-index: 5000;
  width: 100%;
  height: 45rem;
}
#librarydiv{
  margin: 10rem 10rem;
}
#librarydiv img{
  height: 5rem;
  width: 5rem;
}


.btm-pad{
    padding-bottom: 50px;
}
.inline{
    display: flex;
}

.container-big{
    display: flex;
}

  
  #chat-window {
    width: 500px;
    margin: 0 auto;
    background-color: #674188;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
  }
  
  #chat-messages {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
    overflow: auto;
  }
  
  #chat-form {
    display: flex;
    align-items: center;
  }
  
  #chat-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  
  .bot-message {
    font-family: "Roboto", sans-serif;
    background-color: #fffbf5; /* different light color */
    text-align: justify; /* keep it right-aligned */
    padding: 15px; /* added padding */
    margin-top: 10px; /* added margin-top to create a gap */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-style: italic;
  }
  
  .user-message {
    font-family: "Nunito", sans-serif;
    background-color: #f7efe5; /* light color */
    text-align: left; /* changed text align to left */
    padding: 15px; /* added padding */
    display: flex;
    align-items: center;
    font-style: italic;
  }
  .user-message img,
  .bot-message img {
    width: 40px; /* adjust the width of the icon */
    height: 40px; /* adjust the height of the icon */
    margin-right: 20px; /* add some margin to separate the icon from the message */
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 400px) {
    #chat-window {
      width: 90%;
    }
  }
  .main-title {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 0.5rem;
    color: #fffbf5;
    font-style: italic;
  }

  /* usable classes */
.primarybg{
  background-color: red;
}